.update-password-section {
  width: 80%;
  background-color: #fff;
  height: auto;
  .container {
    margin: 20px 40px 0 40px;
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    form {
      .input-field {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin: 10px 0;
        label {
          font-size: 14px;
        }
        input {
          width: 55%;
          padding: 10px;
          margin: 10px 0;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
      }
      button {
        padding: 10px 20px;
        background-color: #007bff;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }
}
