.order-detail-section {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 140px;
  margin-bottom: 10px;
  min-height: 600px;
  .order-detail-container {
    height: auto;
    background-color: #fff;
    width: 80%;
    .product-list {
      height: auto;
      margin: 20px;
      font-size: 14px;
      table {
        width: 100%;
        text-align: center;
        border: 1px solid #ea5867;
        .title {
          font-weight: bold;
          color: #fff;
          background: #ea5867;
          td{
            padding: 10px 0;
          }
          .img {
            width: 10%;
          }
          .name {
            width: 50%;
          }
          .price {
            width: 15%;
          }
          .qty {
            width: 10%;
          }
          .total {
            width: 15%;
          }
        }
        .product {
          td{
            padding: 10px 0;
          }
          .img {
            margin: auto;
            width: 80%;
            height: 80%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    .order-detail {
      background-color: #fff;
      display: flex;
      height: auto;
      margin: 0 20px 20px 20px;
      font-size: 14px;
      .detail-container {
        display: flex;
        width: 100%;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        .title {
          width: 80%;
          display: flex;
          flex-direction: column;
          text-align: right;
          p {
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 10px;
            width: 100%;
          }

        }
        .detail {
          width: 20%;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          p {
            border-bottom: 1px solid #ccc;
            padding: 10px;
            width: 100%;
          }
          .red {
            color: red;
          }
          .green {
            color: green;
          }
        }
      }
    }
  }
}
