.cart-items {
  margin-top: 140px;
  margin-bottom: 10px;
  .cart-container {
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    .cart-detail {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      width: 70%;
      padding-bottom: 20px;
      .cart-header {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        padding: 20px 0;
        border-bottom: 1px solid #ea5867;
        h1 {
          font-size: 20px;
        }
      }
      .handle-product {
        margin: 0 30px;
        .no-items {
          text-align: center;
          font-size: 30px;
          color: #ea5867;
          padding: 20% 0;
        }
        .cart-product {
          padding: 20px 0;
          background-color: #fff;
          display: flex;
          border-bottom: 1px solid #ea5867;
          justify-content: space-between;
          .img {
            width: 15%;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              margin: auto;
              object-fit: contain;
            }
          }
          .cart-details {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 10px;
            .price {
              font-size: 15px;
              display: flex;
              margin-bottom: 10px;
              color: #808080;
              span {
                color: #ea5867;
                font-weight: bold;
                margin-left: 10px;
              }
            }
          }
          .cart-items-function {
            width: 20%;
            display: flex;
            align-items: flex-end;
            justify-content: right;
            position: relative;
            .item-remove {
              position: absolute;
              top: 0;
              right: 0;
            }
            .increase {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .cart-total {
      width: 29%;
      height: 100%;
      background: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .payment {
        .total-box {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          margin: 0 20px;
          border-bottom: 1px solid #ea5867;
          h1 {
            font-size: 20px;
          }
          span {
            font-size: 20px;
            color: #ea5867;
          }
        }
        .payment-box {
          .second-container {
            margin: 10px 20px;
            .payment-method {
              display: flex;
              justify-content: space-between;
              margin: 10px 0;
              .payment-input {
                text-align: center;
                width: 30%;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid #ea5867;
                position: relative;
                transition: 0.3s;
                color: #ea5867;
                input {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  color: #ea5867;
                }
                p {
                  color: #ea5867;
                  padding-top: 5px;
                }
                &:hover {
                  background-color: #ea5867;
                  color: #fff;
                  cursor: pointer;
                  p{
                    color: #fff;
                  }
                }
              }
            }
          }
          .qr-img {
            width: 100%;
            height: 290px;
            background-color: #fff;
            margin-bottom: 10px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .input-holder {
            display: flex;
            flex-direction: column;
            input {
              outline: none;
              padding: 10px;
              margin-bottom: 10px;
              border: none;
              border-bottom: 1px solid #ccc;
            }
          }
          .address-holder {
            input {
              outline: none;
              padding: 10px;
            }
          }
          .cart-btn {
            margin: 10px 0;
            background-color: #ea5867;
            color: #fff;
            width: 100%;
            border: none;
            padding: 10px 0;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
