@import "../GlobalStyle";
.login-section {
  .login-container {
    height: auto;
    display: flex;
    .form-container {
      background-color: #fff;
      border-radius: $main-border;
      box-shadow: $main-shadow;
      width: 40%;
      display: flex;
      justify-content: center;
      form {
        margin: 30px auto;
        width: 70%;
        h1 {
          padding-bottom: 20px;
          color: $text-color;
          font-size: 30px;
          text-align: center;
        }
        .google-login {
          border: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $side-color;
          padding: 15px;
          margin-top: 20px;
          position: relative;
          cursor: pointer;
          .google-logo {
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 5px;
            position: absolute;
            left: 10px;
            img {
              width: 100%;
            }
          }
          p {
            color: #fff;
            font-size: 14px;
            margin-left: 10px;
            font-weight: bold;
          }
        }
        .option-label {
          margin-top: 20px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          .login-line {
            width: 40%;
            height: 1px;
            background-color: $border-color;
            margin: auto;
          }
          p {
            color: $text-color;
          }
        }

        .box {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          label {
            font-size: 14px;
            color: $text-color;
          }
          input {
            width: 100%;
            border: none;
            padding: 10px;
            outline: none;
            font-size: 14px;
            margin-top: 10px;
            border: 1px solid $border-color;
          }
        }
        .save-forgot-password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          .save-password {
            display: flex;
            color: $text-color;
          }
          .forgot-password {
            color: $side-color;
          }
          .forgot-password:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .login-btn {
          margin-top: 20px;
          width: 100%;
          font-size: 14px;
          height: 40px;
          color: #fff;
          border: none;
          background: $side-color;
          font-weight: bold;
          cursor: pointer;
        }
        .to-sign-up {
          text-align: center;
          p {
            margin-top: 20px;
            font-size: 14px;
            color: $text-color;
            .to-sign-up-btn {
              color: $side-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
