@import "../GlobalStyle";
.order-detail-section {
  background-color: #fff;
  border-radius: $main-border;
  display: flex;
  justify-content: space-between;
  box-shadow: $main-shadow;
  margin-bottom: 10px;
  min-height: 600px;
  color: $text-color;
}
