@import "../GlobalStyle";
.register-section {
  margin: 140px 0;
  .register-container {
    height: auto;
    display: flex;
    .form-container {
      background-color: #fff;
      box-shadow: $main-shadow;
      width: 40%;
      display: flex;
      justify-content: center;
      form {
        margin: 30px auto;
        width: 70%;
        h1 {
          padding-bottom: 20px;
          color: $text-color;
          font-size: 30px;
          text-align: center;
        }
        .box-2 {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .input-box {
            width: 49%;
            margin-top: 20px;
            label {
              font-size: 14px;
              color: $text-color;
            }
            input {
              width: 100%;
              border: none;
              padding: 10px;
              outline: none;
              font-size: 14px;
              margin-top: 10px;
              border: 1px solid $text-color;
            }
          }
        }
        .box-1 {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .input-box {
            width: 100%;
            margin-top: 20px;
            label {
              font-size: 14px;
              color: $text-color;
            }
            input {
              width: 100%;
              border: none;
              padding: 10px;
              outline: none;
              font-size: 14px;
              margin-top: 10px;
              border: 1px solid $text-color;
            }
          }
        }
        button {
          margin-top: 20px;
          width: 100%;
          font-size: 14px;
          height: 40px;
          color: #fff;
          border: none;
          border-radius: 5px;
          background: $side-color;
          font-weight: bold;
        }
        .to-login {
          text-align: center;
          p {
            margin-top: 20px;
            font-size: 14px;
            color: $text-color;
            .to-login-btn {
              color: $side-color;
              cursor: pointer;
            }
            .to-login-btn:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
