@import "../GlobalStyle";
.reset-password-section {
  display: flex;
  align-items: center;
  .reset-container {
    background-color: #fff;
    border-radius: $main-border;
    box-shadow: $main-shadow;
    width: 40%;
    height: 100%;
    display: flex;
    form {
      margin: 30px auto;
      width: 70%;
      h1 {
        padding-bottom: 20px;
        color: $text-color;
        font-size: 30px;
        text-align: center;
      }
      .input-container {
        width: 100%;
        label {
          font-size: 14px;
          color: $text-color;
        }
        input {
          width: 100%;
          border: none;
          padding: 10px;
          outline: none;
          font-size: 14px;
          margin-top: 10px;
          border: 1px solid $border-color;
        }
      }
      button {
        margin-top: 20px;
        width: 100%;
        font-size: 14px;
        height: 40px;
        color: #fff;
        border: none;
        background: $side-color;
        font-weight: bold;
        cursor: pointer;
      }
      .back-to-login {
        color: $text-color;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        a {
          color: $side-color;
        }
        a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
