.single-product-section {
  margin-top: 140px;
  margin-bottom: 10px;
  color: #333;
  .single-product-container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    .single-product-left {
      padding: 20px;
      width: 35%;
      .img {
        width: 100%;
        height: 390px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .single-product-right {
      width: 75%;
      padding: 20px;
      h3 {
        font-weight: 600;
        font-size: 20px;
        }
      .detail-box {
        p {
          font-size: 14px;
          margin: 10px 0;
          span {
            font-weight: bold;
          }
        }
        .rate {
          color: #ff4500;
        }
        .price {
          margin: 10px 0;
          font-size: 30px;
          color: #ea5867;
        }
      }
      .quantity-box {
        margin: 10px 0;
        display: flex;
        justify-content: space-evenly;
        border: 2px solid #ea5867;
        width: 130px;
        border-radius: 5px;
        .descrease-value-btn {
          width: 35%;
          border-radius: 0;
          border: none;
        }
        .increase-value-btn {
          width: 35%;
          border-radius: 0;
          border: none;
        }
        .quantity-value {
          width: 30%;
          line-height: 35px;
          text-align: center;
        }
      }
      .add-to-cart-btn {
        color: #fff;
        background-color: #ea5867;
        margin: 10px 0;
        width: 200px;
        border-radius: 5px;
        height: 40px;
      }
    }
  }
}
.description-container{
  background-color: #fff;
  margin: 20px 0;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .box{
    padding: 20px 40px;
    h1{
      margin-bottom: 10px;
    }
  }
}