.order-detail-section {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 140px;
  margin-bottom: 10px;
  min-height: 600px;
  color: #333;
  .order-detail-container {
    height: auto;
    background-color: #fff;
    width: 80%;
    .heading{
      margin: 20px 40px;
      h1{
        font-size: 20px;
      }
    }
    .product-list {
      height: auto;
      margin: 20px 40px;
      font-size: 14px;
      table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        .title {
          font-weight: bold;
          color: #fff;
          background: #007bff;
          th {
            padding: 10px 0;
          }
          .img {
            width: 10%;
          }
          .name {
            width: 50%;
          }
          .price {
            width: 15%;
          }
          .qty {
            width: 10%;
          }
          .total {
            width: 15%;
          }
        }
        .product {
          cursor: pointer;
          td {
            padding: 5px;
          }
          .img {
            margin: auto;
            width: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .prd-title{
            text-align: left;
          }
        }
        tr:nth-child(even){
          background-color: #f2f2f2;
        }
      }
    }
    .detail-container {
      margin: 0 40px 20px 40px;
      width: auto;
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          td {
            border: 1px solid #ccc;
            padding: 10px;
          }
          .detail-title{
            width: 70%;
            text-align: right;
            font-weight: bold;
          }
        }
       
      }
    }
    .red {
      color: red;
      font-weight: bold;
    }
    .green {
      color: green;
      font-weight: bold;
    }
  }
}
