@import "../GlobalStyle";
  .order-detail-container {
    height: auto;
    width: 80%;
    .heading{
      margin: 20px 40px;
      h1{
        font-size: 20px;
      }
    }
    .product-list {
      height: auto;
      margin: 20px 40px;
      font-size: 14px;
      table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        .title {
          font-weight: bold;
          color: #fff;
          background: $side-color;
          th {
            padding: 10px 0;
          }
          .img {
            width: 10%;
          }
          .name {
            width: 50%;
          }
          .price {
            width: 15%;
          }
          .qty {
            width: 10%;
          }
          .total {
            width: 15%;
          }
        }
        .product {
          cursor: pointer;
          td {
            padding: 5px;
          }
          .img {
            margin: auto;
            width: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .prd-title{
            text-align: left;
          }
        }
        tr:nth-child(even){
          background-color: $table-color;
        }
      }
    }
    .detail-container {
      margin: 0 40px 20px 40px;
      width: auto;
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          td {
            border: 1px solid $border-color;
            padding: 10px;
          }
          .detail-title{
            width: 70%;
            text-align: right;
            font-weight: bold;
          }
        }
       
      }
    }
    .red {
      color: #ff0000;
      font-weight: bold;
    }
    .green {
      color: #07bc0c;
      font-weight: bold;
    }
  }
