@import "../GlobalStyle";
.order-history-section {
  width: 80%;
  height: auto;
  padding: 0 40px;
  .heading {
    margin-top: 20px;
    h1 {
      font-size: 20px;
    }
  }
  table {
    margin-top: 20px;
    width: 100%;
    max-height: 80%;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    thead {
      tr {
        background: $side-color;
        color: #fff;
        th {
          padding: 10px;
          position: sticky;
          top: 0;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        transition: 0.3s;
        td {
          padding: 20px 5px;
        }
        .status {
          span {
            padding: 5px 10px;
            border-radius: 50px;
          }
          .not-confirm {
            color: #ff0000;
            background-color: #ffcdcd;
          }
          .confirm {
            color: #07bc0c;
            background-color: #ceffce;
          }
        }
      }
      tr:nth-child(even) {
        background-color: $table-color;
      }
    }
  }
}
