.order-history-section {
  width: 80%;
  height: auto;
  background-color: #fff;
  .heading {
    margin: 20px 40px 0 40px;
    h1 {
      font-size: 20px;
    }
  }
  .order-container {
    margin: 20px 40px 0 40px;
    border: 1px solid #ccc;
    height: 80%;
    font-size: 14px;
    .order-title {
      display: flex;
      align-items: center;
      height: 10%;
      font-weight: bold;
      color: #808080;
      padding-left: 20px;
        border-bottom: 1px solid #ccc;
      .payment-method {
        width: 15%;
      }
      .date {
        width: 15%;
      }
      .address {
        width: 40%;
      }
      .total {
        width: 15%;
      }
      .status {
        width: 15%;
      }
    }
    .order-history {
      height: 90%;
      li {
        border-bottom: 1px solid #ccc;
        display: flex;
        background-color: #fff;
        padding-left: 20px;
        height: 10%;
        align-items: center;
        .payment-method {
          width: 15%;
        }
        .date {
          width: 15%;
        }
        .address {
          width: 40%;
        }
        .total {
          width: 15%;
          color: #ea5867;
          font-weight: bold;
        }
        .status {
          width: 25px;
          height: 25px;
          border-radius: 50px;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }
  .no-login {
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    h1 {
      color: #ea5867;
      text-align: center;
      padding: 20px 0;
    }
  }
}
.not-confirm {
  color: red;
  background-color: rgb(255, 205, 205);
}
.confirm {
  color: green;
  background-color: rgb(206, 255, 206);
}
