@import "../GlobalStyle";

.slide-container {
    width: 100%;
    border-radius: $main-border;
    ul {
      position: absolute;
      bottom: 20px;
      li {
        border: 2px solid $text-color;
        border-radius: 50%;
        padding: 10px;
        button {
          &::before {
            font-size: 15px;
            position: absolute;
            top: 2px;
            left: 0;
            margin: auto;
          }
        }
      }
    }
    .slide {
      img {
    border-radius: $main-border;

        width: 100%;
        height: 100%;
      }
    }
  }