.register-section {
  .register-container {
    padding: 140px 0;
    height: auto;
    justify-content: center;
    display: flex;
    background: linear-gradient(120deg, #298079, #8e44ad);
    .form-container {
      width: 40%;
      display: flex;
      justify-content: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative;
      .background {
        position: absolute;
        background: #000;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.4;
        border-radius: 10px;
      }
      form {
        margin: 30px 50px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        z-index: 2;
        h1 {
          text-align: center;
          padding-bottom: 20px;
          color: #fff;
        }

        .box-2 {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .input-box {
            width: 49%;
            margin-top: 20px;
            label {
              font-size: 14px;
              color: #fff;
            }
            input {
              width: 100%;
              border: none;
              padding: 10px;
              outline: none;
              font-size: 14px;
              margin-top: 10px;
            }
          }
        }
        button {
          margin-top: 20px;
          width: 100%;
          font-size: 14px;
          height: 40px;
          color: #fff;
          border: none;
          border-radius: 5px;
          background: #007bff;
          font-weight: bold;
        }
        .to-login {
          text-align: center;
          p {
            margin-top: 20px;
            font-size: 14px;
            color: #fff;
            .to-login-btn {
              color: #007bff;
              cursor: pointer;
            }
            .to-login-btn:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
