.register-section {
  .register-container {
    margin-top: 150px;
    border-radius: 10px;
    height: auto;
    display: flex;
    background-color: #ea5867;
    .register-cover {
      width: 60%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-size: cover;
      background-image: url("../../../public/assets/images/shopping.jpg");
      background-size: 100%;
      }
    .form-container {
      width: 40%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      form {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        margin: 50px;
        border-radius: 10px;
        h1 {
          text-align: center;
          color: #ea5867;
        }
        .box {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          label {
            font-size: 14px;
            color: #333;
          }
          input {
            width: 100%;
            border: 2px solid #ea5867;
            padding: 10px;
            outline: none;
          }
        }
        .box-2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          input {
            width: 49%;
          }
        }
        .form-btn {
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
          button {
            width: 49%;
            font-size: 14px;
            height: 40px;
            background-color: #ea5867;
            color: #fff;
            border: none;
          }
          .back-to-login {
            border: 2px solid #ea5867;
            color: #ea5867;
            font-size: 14px;
            width: 49%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
