.profile-section {
  background-color: #e9f2fa;
  .profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
