.profile-menu-container {
    background-color: #fff;
    width: 20%;
    border-radius: 10px;
    min-height: 400px;
    .menu-btn-container {
      margin: 0 20px;
      .menu-btn {
        margin: 5px 0;
        transition: 0.3s;
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
        &:hover {
          color: #ea5867;
        }
      }
    }
  }