@import "../../GlobalStyle";
.admin-brands-container {
  width: 80%;
  height: 100vh;
  .heading {
  height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 24px;
      text-transform: capitalize;
    }
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #fff;
    margin: 0 40px;
    box-shadow: $main-shadow;
    margin-bottom: 10px;
    border-radius: $main-border;
    form {
      display: flex;
      justify-content: center;
      label {
        padding: 5px 10px;
      }
      input {
        padding: 5px 10px;
        border: 1px solid $border-color;
        height: 100%;
      }
      button {
        border: none;
        background: $text-color;
        color: #fff;
        padding: 5px 20px;
        margin-left: 5px;
        cursor: pointer;
      }
      button:hover {
        opacity: 0.7;
      }
    }
  }
  .table-container {
    height: 75%;
    margin: 0 40px;
    background: #fff;
    border-radius: $main-border;
    box-shadow: $main-shadow;
    padding: 30px;
    .table-box {
      height: 100%;
      overflow: auto;
      table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 14px;
        thead {
          position: sticky;
          top: 0;
          tr {
            th {
              white-space: nowrap;
              background-color: $text-color;
              color: #fff;
              padding: 10px;
            }
          }
        }
        tbody {
          tr {
            text-align: center;
            td {
              padding: 10px;
            }
            .index {
              width: 10%;
            }
            .logo {
              width: 5%;
              img {
                width: 100%;
              }
            }
            .name {
              width: 75%;
            }
            .action {
              width: 10%;
              button {
                cursor: pointer;
                color: red;
                border: none;
              }
            }
          }
          tr:nth-child(even) {
            background-color: $table-color;
          }
        }
      }
    }
  }
}
