.insert-product-container {
  width: 80%;
  .heading {
    text-align: center;
    padding: 20px 0;
    h1 {
      font-size: 24px;
      text-transform: capitalize;
    }
  }
  .form-container {
    margin-top: 10px;
    form {
      width: 60%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .input-field {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 49%;
        label {
          font-size: 16px;
        }
        input {
          font-size: 16px;
          padding: 10px;
          border: 1px solid #ccc;
        }
        input:invalid{
          border: 1px solid red;
        }
        select {
          font-size: 16px;
          border: 1px solid #ccc;
          padding: 10px;
        }
      }
      .input-field-width {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
          font-size: 16px;
        }
        textarea {
          outline: none;
          font-size: 16px;
          padding: 10px;
          border: 1px solid #ccc;
          height: 200px;
        }
        textarea:invalid{
          border: 1px solid red;
        }
      }
      button {
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
