.admin-categories-container {
  width: 85%;
  .heading {
    text-align: center;
    padding: 20px 0;
    h1 {
      font-size: 24px;
      text-transform: capitalize;
    }
  }
  .form-container {
    width: 50%;
    background-color: #fff;
    margin: 0 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    form {
      display: flex;
      justify-content: center;
      label {
        padding: 5px 10px;

      }
      input {
        padding: 5px 10px;
        border: 1px solid #ccc;

      }
      button {
        border: none;
        background: #333;
        color: #fff;
        padding: 5px 20px;
        margin-left: 5px;
        cursor: pointer;
      }
      button:hover{
        opacity: 0.7;
      }
    }
  }
  .table-container {
    width: 50%;

    margin: 0 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    table {
      text-align: center;
      border-collapse: collapse;
      font-size: 14px;
      thead {
        tr {
          th {
            white-space: nowrap;
            background-color: #333;
            color: #fff;
            padding: 10px;
          }
        }
      }
      tbody {
        tr {
          text-align: center;
          td {
            padding: 10px;
          }
          .action {
            width: 5%;
            button {
              cursor: pointer;
              color: red;
              border: none;
            }
          }
        }
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
  }
  .table-container::-webkit-scrollbar {
    display: none;
  }
}
