.admin-sidebar {
  width: 20%;
  background: #333;
  overflow-y: scroll;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    background: #333;
    a{
      color: #fff;
      font-weight: bold;
      text-decoration: underline;
    }
    h1 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  .sidebar-btn {
    display: flex;
    flex-direction: column;
    a {
      color: #fff;
      padding: 20px 20px 20px 20px;
      transition: 0.3s;
      cursor: pointer;
      text-transform: capitalize;
    }
    .link-active {
      background-color: #fff;
      color: #333;
    }
  }
}
.admin-sidebar::-webkit-scrollbar {
  display: none;
}
