@import "../../GlobalStyle";
.admin-sidebar {
  width: 20%;
  background-color: #fff;
  overflow-y: scroll;
  box-shadow: $main-shadow;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 20px;
    a{
      color: $main-color;
      font-weight: bold;
      text-decoration: underline;
    }
    h1 {
      color: $text-color;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  .sidebar-btn {
    background: #fff;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    a {
      color: $text-color;
      font-weight: bold;
      padding: 20px;
      transition: 0.3s;
      cursor: pointer;
      text-transform: capitalize;
    }
    .link-active {
      background-color: $table-color;
      color: $text-color;
    }
  }
}
