.admin-user-container {
  width: 80%;
  .heading {
    text-align: center;
    padding: 20px 0;
    h1 {
      font-size: 24px;
      text-transform: capitalize;
    }
  }
  .table-container {
    margin:0 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    table {
      font-size: 14px;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      thead {
        tr {
          th {
            position: sticky;
            top: 0;
            background-color: #333;
            color: #fff;
            padding: 10px;
          }
        }
      }
      tbody {
        tr {
          text-align: center;
          td {
            padding: 10px;
          }
          .index {
            width: 5%;
          }
          .email {
            width: 30%;
          }
          .name {
            width: 20%;
          }
          .phone {
            width: 15%;
          }
          .day-of-birth {
            width: 15%;
          }
          .role {
            width: 15%;
          }
        }
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
  }
  .table-container::-webkit-scrollbar{
    display: none;
  }
}
