.admin-sidebar {
  width: 20%;
  background: #fff;
  overflow-y: scroll;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    background: #fff;
    a{
      color: #ea5867;
      font-weight: bold;
      text-decoration: underline;
    }
    h1 {
      color: #333;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
  .sidebar-btn {
    display: flex;
    flex-direction: column;
    a {
      color: #333;
      font-weight: bold;
      padding: 20px 20px 20px 20px;
      transition: 0.3s;
      cursor: pointer;
      text-transform: capitalize;
    }
    .link-active {
      background-color: #f2f2f2;
      color: #333;
    }
  }
}
.admin-sidebar::-webkit-scrollbar {
  display: none;
}
