.login-section {
  .login-container {
    margin-top: 150px;
    border-radius: 10px;
    height: auto;
    display: flex;
    background-color: #ea5867;
    
    .login-cover {
      background-image: url("../../../public/assets/images/shopping.jpg");
      background-size: 100%;
      width: 60%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: relative;
    }
    .form-container {
      width: 40%;
      display: flex;
      justify-content: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      form {
        background-color: #fff;
        // z-index: 2;
        margin: 50px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        h1 {
          text-align: center;
          color: #ea5867;
        }
        .box {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          label {
            font-size: 14px;
            margin: 10px 0;
          }
          input {
            width: 100%;
            border: 2px solid #ea5867;
            padding: 10px;
            outline: none;
            background: transparent;
          }
        }
        .save-forgot-password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          font-size: 12px;  
          .save-password{
            display: flex;
          }
          .forgot-password {
            color: blue;
          }
        }
        .form-btn {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          button {
            width: 49%;
            font-size: 14px;
            height: 40px;
            background-color: #ea5867;
            color: #fff;
            border: none;
          }
          .to-sign-up-btn {
            border: 2px solid #ea5867;
            color: #ea5867;
            font-size: 14px;
            width: 49%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
