.login-section {
  margin: 140px 0;
  .login-container {
    height: auto;
    display: flex;
    .form-container {
      background-color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 40%;
      display: flex;
      justify-content: center;
      form {
        margin: 30px auto;
        width: 70%;
        z-index: 2;
        h1 {
          padding-bottom: 20px;
          color: #333;
          font-size: 30px;
          text-align: center;
        }
        .google-login {
          border: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #007bff;
          padding: 15px;
          margin-top: 20px;
          position: relative;
          // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          cursor: pointer;
          .google-logo {
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 5px;
            position: absolute;
            left: 10px;
            img {
              width: 100%;
            }
          }
          p {
            color: #fff;
            font-size: 14px;
            margin-left: 10px;
            font-weight: bold;
          }
        }
        .option-label {
          margin-top: 20px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          .login-line {
            width: 40%;
            height: 1px;
            background-color: #333;
            margin: auto;
          }
          p {
            color: #333;
          }
        }

        .box {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          label {
            font-size: 14px;
            color: #333;
          }
          input {
            width: 100%;
            border: none;
            padding: 10px;
            outline: none;
            font-size: 14px;
            margin-top: 10px;
            border: 1px solid #333;
          }
        }
        .save-forgot-password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          .save-password {
            display: flex;
            color: #333;
          }
          .forgot-password {
            color: #007bff;
          }
          .forgot-password:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .login-btn {
          margin-top: 20px;
          width: 100%;
          font-size: 14px;
          height: 40px;
          color: #fff;
          border: none;
          background: #007bff;
          font-weight: bold;
          cursor: pointer;
        }
        .to-sign-up {
          text-align: center;
          p {
            margin-top: 20px;
            font-size: 14px;
            color: #333;
            .to-sign-up-btn {
              color: #007bff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
