.reset-password-section {
  padding: 140px 0;
  background: linear-gradient(120deg, #298079, #8e44ad);
  justify-content: center;
  display: flex;
  .reset-container {
    position: relative;
    width: 30%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    .background {
      position: absolute;
      background: #000;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.4;
      border-radius: 10px;
    }
    form {
      z-index: 2;
      margin: 30px 50px;
      width: 100%;
      padding: 10px;
      h1 {
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
      }
      .input-container {
        width: 100%;
        label {
          font-size: 14px;
          color: #fff;
        }
        input {
          width: 100%;
          border: none;
          padding: 10px;
          outline: none;
          font-size: 14px;
          margin-top: 10px;
        }
      }
      button {
        margin-top: 20px;
        width: 100%;
        font-size: 14px;
        height: 40px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background: #007bff;
        font-weight: bold;
      }
      .back-to-login{
        color: #fff;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        a{
          color: #007bff;
        }
        a:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
