@import "../GlobalStyle";
.footer-section {
  width: 100%;
  background-color: #fff;
  .footer {
    display: flex;
    padding: 10px 0;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    .left-box {
      width: 30%;
      .logo {
        padding-top: 10px;
        color: $main-color;
        font-weight: bolder;
        font-size: 50px;
      }
      .footer-note {
        padding: 10px 0;
        font-size: 14px;
      }
      .footer-icons {
        display: flex;
        padding: 20px 0;
        text-align: center;
        .icon {
          display: flex;
          margin-right: 15px;
          border-radius: 50px;
          width: 30px;
          height: 30px;
          background-color: $border-color;
          cursor: pointer;
          i {
            font-size: 16px;
            margin: auto;
            color: #fff;
          }
        }
      }
      .download-links {
        img {
          width: 110px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
    .right-box {
      width: 70%;
      .box-1 {
        display: flex;
        justify-content: right;
        .box {
          width: 30%;
          margin: 10px 0;
          margin-left: 10px;
          h2 {
            text-transform: uppercase;
            margin: 10px 0;
            font-size: 16px;
          }
          .sub-box {
            // padding: 10px;
            display: flex;
            flex-direction: column;
            a {
              margin: 10px 0;
              font-size: 14px;
              transition: 0.5s;
              &:hover {
                color: $main-color;
                cursor: pointer;
                transform: translateX(10%);
              }
            }
          }
        }
      }
      .box-2 {
        .box {
          padding: 10px;
          h2 {
            text-transform: uppercase;
            margin: 10px 0;
            font-size: 16px;
          }
        }
      }
    }
  }
}
