$main-color: #ea5867;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9f2fa;
  color: #333;
}
.page-container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #333;
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  color: #333;
}
input,
select {
  outline-style: none;
}
#header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
.btn {
  background: none;
  color: $main-color;
  font-size: 16px;
  border: 1px solid rgb(3 0 71 /9%);
  padding: 2px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  cursor: pointer;
  background-color: $main-color;
  color: #fff;
}
/* responsive */
@media only screen and (max-width: 1600px) {
  .head-container {
    width: 1300px !important;
  }
  .search {
    width: 1300px !important;
  }
  .page-container {
    width: 1300px;
  }
  .footer {
    width: 1300px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .head-container {
    width: 1200px !important;
  }
  .search {
    width: 1200px !important;
  }
  .page-container {
    width: 1200px;
  }
  .footer {
    width: 1200px !important;
  }
}
